.git
.gitignore
README.md
.env
.DS_Store
.editorconfig
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
bootstrap/cache/*
.phpunit.result.cache
*.log
__pycache__
.pytest_cache
.vscode
.idea
.gitattributes
